<form class="buffs smt-tc">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.buffs"}}</div>
      </li>

      <li class="item flexrow">
        {{!-- Select box --}}
        <select class="item-prop flex3" name="buffType">
          {{selectOptions buffTypes selected=buffType localize=true}}
        </select>
        {{!-- Amount --}}
        <input type="number" class="item-prop" name="buffAmount" placeholder="0" data-dtype="Number" />
      </li>
    </ol>
  </div>
</form>

{{!-- // buffType (sukukaja, rakunda, etc) --}}
{{!-- // buffAmount --}}
{{!-- // cancelBuffs (Dekaja) --}}
{{!-- // cancelDebuffs (Dekunda) --}}
{{!-- // Extra button to cancel both at battle end --}}