<form class="dialog combat-award-dialog">
  <div class="items-list flexcol">
    <li class="item flexrow items-header">
      <div>{{localize "SMT.dialog.combatAwardTitle"}}</div>
    </li>

    <li class="item flexrow">
      <label for="xp-award-field" class="item-prop">{{"SMT.actorFields.xp"}}</label>
      <input type="number" class="item-prop" id="xp-award-field" name="xp" placeholder="0" data-dtype="Number" />
    </li>

    <li class="item flexrow">
      <label for="macca-award-field" class="item-prop">{{"SMT.actorFields.macca"}}</label>
      <input type="number" class="item-prop" id="macca-award-field" name="macca" placeholder="0" data-dtype="Number" />
    </li>
  </div>
</form>