<form class="flexcol">
  <div class="align-center">
    {{checkLabel}}
  </div>

  <div>
    <input type="number" name="mod" data-dtype="Number" placeholder="0" autofocus />
  </div>

  {{#if hint}}
  <p>
    {{hint}}
  </p>
  {{/if}}
</form>