<section class="modifiers flexcol flex-group-center">
  <div class="resource-label">{{localize "SMT.actorSheet.tnMod"}}</div>
  <div class="grid grid-3col">
    <a class="adjust-tn-bonus roll-highlight" data-direction="-">
      <i class="fas fa-minus"></i>
    </a>
    <span>{{system.modifiers.tnBonuses}}</span>
    <a class="adjust-tn-bonus roll-highlight" data-direction="+">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</section>