<section class="flexcol">
  {{#if isGM}}
  <div class="items-list">
    <ol class="stat-list">
      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.enemyInfo.personality"}}</div>
          <input class="item-prop flex3" type="text" value="{{system.personality}}"
            placeholder="{{localize "SMT.awardMacro.notApplicable"}}" data-dtype="String" disabled />
      </li>
    </ol>
  </div>
  {{/if}}
  <div class="flexrow">
    <div class="flexcol flex3">
      <div class="resource-label flex-group-center flex0">{{localize "SMT.actorSheet.affinities"}}</div>
      {{> "systems/smt-tc/templates/parts/actor/affinities.hbs"}}
    </div>
    {{> "systems/smt-tc/templates/parts/actor/buffs.hbs"}}
    </div>
  <div class="flexrow">
    {{> "systems/smt-tc/templates/parts/actor/stats.hbs"}}
    <div class="flexcol">
      {{> "systems/smt-tc/templates/parts/actor/derived-stats.hbs"}}
      {{> "systems/smt-tc/templates/parts/actor/dice-modifiers.hbs"}}
      </div>
  </div>
  {{#if (eq system.charClass "human")}}
  {{> "systems/smt-tc/templates/parts/actor/weapons.hbs"}}
  {{/if}}
  {{> "systems/smt-tc/templates/parts/actor/skills.hbs"}}
</section>