<section class="flexcol">
  {{> "systems/smt-tc/templates/parts/actor/resources.hbs"}}
  {{> "systems/smt-tc/templates/parts/actor/stats.hbs"}}
  {{> "systems/smt-tc/templates/parts/actor/derived-stats.hbs"}}
  {{> "systems/smt-tc/templates/parts/actor/weapons.hbs"}}
</section>