<section class="attack-pane">
  {{!-- Skill Type (determines damage type: phys if Phys Attack or Gun, mag if Mag Attack or Spell) --}}
  {{!-- Accuracy Stat --}}
  {{!-- Cost (HP/MP determined by power type) --}}
  {{!-- Potency --}}
  {{!-- Target --}}
  {{!-- Affinity --}}
  {{!-- Ailment (name and rate) --}}
  {{!-- TN Modifier --}}
  {{!-- Crit Boost? --}}
  {{!-- Effect --}}
</section>

{{!-- Reference/would be nice stuff --}}
{{!-- Inheritance Traits --}}
{{!-- Ammo --}}